@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted-foreground: #6b7280;
  --card: #ffffff;
  --card-foreground: #171717;
  --border: #e5e7eb;
  --secondary-foreground: #ffffff;
  --primary-foreground: #ffffff;
  --accent: #f3f4f6;
  --accent-foreground: #171717;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --radius: 0.5rem;
  --input: #e5e7eb;
  --green: #22c00d;
  --red: #d34346;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-green: var(--green);
  --color-red: var(--red);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-lato);
  --font-pirata: var(--font-pirata);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --muted-foreground: #9ca3af;
    --card: #1a1a1a;
    --card-foreground: #ededed;
    --border: #cdcdcd62;
    --secondary: #262626;
  }
}

.text-muted-foreground {
  color: var(--muted-foreground);
}

.bg-card {
  background-color: var(--card);
}

.text-card-foreground {
  color: var(--card-foreground);
}

.border {
  border-color: var(--border);
}

.text-secondary {
  color: var(--secondary);
}

body {
  background: #ffffff;
  color: #000000;
  font-family:
    var(--font-lato),
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.font-pirata {
  font-family: var(--font-pirata), cursive;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
